<sw-page class="code-editor">
    <template slot="content">
        <sw-card-view>
            <sw-card title="Code Editor">
                <sw-alert variant="info">
                    You can also use ALT+S to save the file
                </sw-alert>

                <label>Choose file:</label>
                <sw-single-select
                    :options="files"
                    labelProperty="name"
                    valueProperty="name"
                    v-model="selectedLogFile"
                    @change="onFileSelected"
                ></sw-single-select>

                <sw-code-editor :sanitizeInput="false" v-model="fileContent" v-if="fileContent"></sw-code-editor>

                <sw-button variant="primary" @click="saveFile">Save file</sw-button>
            </sw-card>
        </sw-card-view>
    </template>
</sw-page>
